<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
      <h2>
      Cart page 
      </h2>
      <div>
          {% with messages = get_flashed_messages() %}
              {% if messages %}
                  {% for message in messages %}
                      <h2>{{message}}</h2>
                  {% endfor %}
               {% endif %}
           {% endwith %}
      </div>
      <ul>
          {% for row in products_in_cart %}
          <li>
              {% for key, value in row.items() %}
                  {{key}} : {{value}}
               {% endfor %}
          </li>
          <form action = "{{url_for('delete_item', product_id = row['product_id'])}}" method = "POST"> 
              <button type = "submit" value = "Submit"> Delete </button>
          </form>
          
          <form action = "{{url_for('add_item', product_id = row['product_id'])}}" method = "POST">
              <button type = "submit" value = "Submit"> Add item </button>
          </form>
          
          <form action = "{{url_for('remove_item', product_id = row['product_id'])}}" method = "POST">
              <button type = "submit" value = "Sumit"> Remove item </button>
          </form>
          {% endfor %}
       </ul>
       <div>
           Total: {{total_price}}
       </div>
       <form>
           <button type = "submit" value = "Submit"> Checkout </button>
       </form>
   
	<script src="index.js"></script>
  </body>
</html>